{% extends "layout.html" %}
{% block title %}Habit Tracker{% endblock %}
{% block content %}
<h1>
  Hi {{ user.name }}! How are you today?
</h1>

<div>
  <p>
    <a href="{{ url_for('new_event') }}">Create Habit</a>
  </p>
</div>
<div>
  <!--
  The events that need to be done today, sorted by which event expires first
  -->
  <h2>To Do</h2>
  <div>
    {% for event in events_todo %}
    <div>
      <a href="{{ url_for('record_event', id=event[0]) }}">{{ event[1] }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<div>
  <!--
  The events that have been done
  This is a grid, where the columns are the days of the week
  and the rows are the events, with an emoji and the name on the left
  -->
  <h2>Done</h2>
  <div>
    {% for event in events_done %}
    <div>
      <a href="{{ url_for('event', id=event[0]) }}">{{ event[3] }}{{ event[1] }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<div>
  <p>
    <a href="{{ url_for('logout') }}">Logout</a>
  </p>
</div>



{% endblock %}