{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Habits</h1>
<p>
  Hello <i>{{ user.name }}</i>!
</p>

<div>
  <p>
    <a href="{{ url_for('new_event') }}">Create New Event</a>
  </p>
</div>
<div>
  <!--
  The events that need to be done today, sorted by which event expires first
  -->
  <h2>To Do</h2>
  <div>
    {% for event in events %}
    <div>
      <a href="{{ url_for('record_event', id=event[0]) }}">{{ event[1] }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<div>
  <!--
  The events that have been done
  This is a grid, where the columns are the days of the week
  and the rows are the events, with an emoji and the name on the left
  -->
  <h2>Done</h2>
  <div>
    {% for event in events %}
    <div>
      <a href="{{ url_for('event', id=event[0]) }}">{{ event[1] }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<div>
  <h2>Events</h2>
  <div>
    <input type="search" name="search" id="" placeholder="filter">
  </div>
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Tag</th>
        <th>Event Type</th>
        <th>adsf</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>
          <a href="{{url_for('event', id=event[0]) }}">{{ event[1] }}</a>
        </td>
        <td>{{ event[2] }}</td>
        <td>{{ event[3] }}</td>
        <td>
          {% if event[3] == "OCCURENCE" %}
          <button onclick="createOccurence({{ event[0] }})">Record Occurence!</button>
          {% else %}
          <!--
          <div>
            <a href="{{ url_for('create_measurement') }}">
            <button onclick="">Record Value!</button>
            </a>
          </div>
          -->
          <button onclick="createMeasurement({{ event[0] }})">Record Value!</button>
          {% endif %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td>No events found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div>
  <p>
    <a href="{{ url_for('logout') }}">Logout</a>
  </p>
</div>



{% endblock %}