<!doctype html>
<html class="h-screen">

<head>
  {% block head %}
  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- js -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <title>{% block title %}{% endblock %} - ClockIn</title>
  {% endblock %}
</head>

<body class="bg-slate-100 h-screen">
  <div class="w-full max-w-md mx-auto border-x border-slate-900/10 h-screen">
    <div>
      {% block content %}{% endblock %}
    </div>
    <div class="w-full text-center font-semibold">
      <small class="py-4">
        {% block footer %}
        Copyright &copy; 2024 Jakob Maier.
        {% endblock %}
      </small>
    </div>
  </div>
</body>

</html>