{% extends "layout.html" %}
{% block title %}Create New Event{% endblock %}
{% block content %}
<div>


  <div>
    <a href="{{ url_for('dashboard') }}" class="">
      <div class="w-12 h-12 bg-blue-500 text-white rounded-full flex items-center justify-center shadow-lg
    hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
    </a>
  </div>



  <div class="py-6">
    <h1 class="text-2xl font-bold">
      Create New Habit
    </h1>
  </div>



  <form method="POST" action="{{ url_for('new_event') }}">
    {{ form.hidden_tag() }}

    <div>
      {{ form.event_name.label }}<br>
      {{ form.event_name(size=32) }}<br>
    </div>

    <div>
      {{ form.event_emoji.label }}<br>
      {{ form.event_emoji() }}<br>
    </div>

    <div>
      {{ form.event_type.label }}<br>
      {{ form.event_type() }}<br>
    </div>

    <div>
      {{ form.event_repeat.label }}<br>
      {{ form.event_repeat() }}<br>
    </div>



    <div>
      {{ form.submit(class_="w-full bg-white rounded-2xl p-6 text-1xl font-bold text-center mt-4 active:bg-gray-500
      active:text-white") }}
    </div>



  </form>
</div>



{% endblock %}