{% extends "layout.html" %}
{% block title %}{{ event[1] }}{% endblock %}
{% block content %}
<div class="border-y border-slate-900/10">
  <div class="bg-white py-4 px-6 flex items-center relative">
    <a href="{{ url_for('main.dashboard') }}" class="absolute left-6 text-white hover:text-gray-200 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </a>
    <h1 class="text-2xl font-semibold mx-auto text-slate-700">{{ event[3] }} {{ event[1] }}</h1>
  </div>
</div>
<div class="p-6 font-semibold text-slate-700">
  {% if event[4] %}
  <div class="py-4">
    <div class="py-2">
      <h2>Description</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <p>
        {{ event[4] }}
      </p>
    </div>
  </div>
  {% endif %}
  {% if streak %}
  <div class="">
    <div class="py-2">
      <h2>Current Streak</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <div class="text-3xl text-center">
        {{ streak[1] }} 🔥
      </div>
    </div>
  </div>
  <div class="">
    <div class="py-2">
      <h2>Repeat</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <div class="text-center">
        {% if event[5] == 'WEEKLY' %}
        at least {{ event[7] }} times per week
        {% else %}
        Daily
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="py-4">
    {% if event[2] == "MEASURE" %}
    <div class="py-6">
      <canvas id="my_chart"></canvas>
      <script>

        function visualize(data) {
          console.log({data});

          const dates = data.map((d) => d[0]);
        const dataPoints = data.map((d) => d[1]);

        const chart = new Chart('my_chart', {
          type: 'line',
          data: {
            labels: dates,
            datasets: [{
              label: '',
              data: dataPoints,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              x: {
                type: 'time',
                time: {
                  unit: 'day',
                  tooltipFormat: 'MMM dd, yyyy',
                  displayFormats: {
                    day: 'MMM dd'
                  }
                },
              },
              y: {
                beginAtZero: false
              }
            }
          }
        });
        }

	      fetch("{{ url_for('event.numeric', id=event[0]) }}")
        .then(response => response.json())
        .then(data => {
          console.log(data);
          visualize(data);
        })
        .catch(error => console.error('Error fetching data:', error));



      </script>
    </div>
    {% endif %}
    <div class="max-w-md mx-auto p-4 bg-white rounded-lg">
      <!-- Day Names -->
      <div class="grid grid-cols-7 gap-2 text-center text-gray-500 mb-2">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
      </div>
      <div class="grid grid-cols-7 gap-2 text-center">
        {% for day in calendar %}
            <div class="p-2 {% if day[1] %} bg-green-200 {% else %} bg-gray-200 {% endif %} rounded">
              <a href="{{ url_for('event.record_event', id=event[0], date=day[2]) }}">
              {{ day[0] }}
              </a>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="py-4">
    <a href="{{ url_for('event.record_event', id=event[0]) }}" class="">
      <div class="bg-slate-900 text-slate-100 p-4 text-center rounded-lg border border-slate-900/10">
        Record
      </div>
    </a>
  </div>

  <div class="py-4">
    <form action="{{ url_for('event.delete_event', id=event[0])}}" method="post">
      <button type="submit" onclick="confirmSubmit(event)"
        class="w-full bg-slate-900 text-slate-100 p-4 text-center rounded-lg border border-slate-900/10 shadow-md">Delete</button>
    </form>
  </div>
</div>
{% endblock %}
