{% extends "layout.html" %}
{% block title %}{{ event[1] }}{% endblock %}
{% block content %}
<div class="border-y border-slate-900/10">
  <div class="bg-white py-4 px-6 flex items-center relative">
    <a href="{{ url_for('main.dashboard') }}" class="absolute left-6 text-white hover:text-gray-200 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </a>
    <h1 class="text-2xl font-semibold mx-auto text-slate-700">{{ event[3] }} {{ event[1] }}</h1>
  </div>
</div>
<div class="p-6 font-semibold text-slate-700">
  <div class="py-4">
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-6">
      <h2>Description:</h2>
      <p>
        {{ event[4] }}
      </p>
    </div>
  </div>
  <div class="py-4">
    {% if event[2] == "MEASURE" %}
    <div>
      show graph of measuremnts
    </div>
    {% else %}
    <div>
      show calender of events
    </div>
    {% endif %}
  </div>

</div>
{% endblock %}