<!doctype html>
<html class="h-screen">

<head>
  {% block head %}
  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <!-- favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" sizes="32x32">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">

  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body class="bg-slate-100 h-screen">
  <div class="w-full max-w-md mx-auto border-x border-slate-900/10 h-screen">
    <div>
      {% block content %}{% endblock %}
    </div>
    <div class="w-full text-center font-semibold">
      <small class="py-4">
        {% block footer %}
        Copyright &copy; 2024 <a href="https://www.jakobmaier.at">Jakob Maier</a>.
        {% endblock %}
      </small>
    </div>
  </div>
</body>

</html>