<!doctype html>
<html>

<head>
  {% block head %}
  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <script src="{{ url_for('static', filename='libs/tailwindcss.3.4.5.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- js -->
  <script src="{{ url_for('static', filename='libs/chartjs.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/chartjs-adapter-date-fns.min.js') }}"></script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <!-- favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" sizes="32x32">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">

  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body class="bg-white">
  <div class="w-full h-screen max-w-md mx-auto">
    <div>
      {% block content %}{% endblock %}
    </div>
    <div class="w-full text-center font-semibold">
      <small class="py-4 ">
        {% block footer %}
        Copyright &copy; 2024 <a href="https://www.jakobmaier.at">Jakob Maier</a>.
        {% endblock %}
      </small>
    </div>
  </div>
</body>

</html>