{% extends "layout/sub_page.html" %}
{% block title %}Create New Habit{% endblock %}
{% block page_content %}
<div>
  <form method="POST" action="{{ url_for('event.new_event') }}">
    {{ form.hidden_tag() }}
    <div class="py-4">
      {{ form.event_name.label(class_="py-4") }}<br>
      {{ form.event_name(class_="w-full p-4 rounded-lg border border-slate-900/10", size=32) }}<br>
    </div>
    <div class="py-4">
      {{ form.event_description.label }}<br>
      {{ form.event_description(class_="w-full p-4 rounded-lg border border-slate-900/10") }}<br>
    </div>
    <div class="py-4">
      {{ form.event_emoji.label }}<br>
      {{ form.event_emoji(class_="w-full p-4 rounded-lg border border-slate-900/10") }}<br>
    </div>
    <div class="py-4">
      {{ form.event_type.label }}<br>
      {{ form.event_type(class_="w-full p-4 rounded-lg border border-slate-900/10") }}<br>
    </div>
    <div class="py-4">
      {{ form.event_repeat.label }}<br>
      {{ form.event_repeat(class_="w-full p-4 rounded-lg border border-slate-900/10") }}<br>
    </div>
    <div class="py-4">
      {{ form.submit(class_="w-full bg-slate-900 text-slate-100 p-4 text-center rounded-lg border border-slate-900/10
      shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90") }}
    </div>
  </form>
</div>
{% endblock %}