{% extends "layout/sub_page.html" %}
{% block title %}Profile{% endblock %}
{% block page_content %}
<div>
  <div class="py-2">
    <div class="py-2">
      <h2>Username</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <div class="text-xl text-center">
        {{ user[1] }}
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="py-2">
      <h2>Joined</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <div class="text-xl text-center">
        {{ user[3] }}
      </div>
    </div>
  </div>
  {% if admin_info %}
  <div class="py-5">
    <div class="py-2">
      <h2>Monthly Recurring Users</h2>
    </div>
    <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
      <div class="text-xl text-center">
        {{ admin_info.mrr }}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="py-5">
    <a href="{{ url_for('user.change_password') }}" class="">
      <div
        class="w-full bg-slate-900 text-slate-100 p-4 text-center rounded-lg border border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90">
        Change Password
      </div>
    </a>
  </div>
  <div class="py-6">
    <div class="py-2">
      <h2>This action cannot be reversed!</h2>
    </div>
    <form action="{{ url_for('user.delete')}}" method="post">
      <button type="submit" onclick="confirmSubmit(event)"
        class="w-full bg-slate-900 text-slate-100 p-4 text-center rounded-lg border border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90">Delete
        Account</button>
    </form>
  </div>
</div>
{% endblock %}