{% extends "layout.html" %}
{% block title %}Record{% endblock %}
{% block content %}
<div>
  <div class="border border-slate-900/10">
    <div class="bg-white py-4 px-6 flex items-center relative">
      <a href="{{ url_for('main.dashboard') }}"
        class="absolute left-6 text-white hover:text-gray-200 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </a>
      <h1 class="text-2xl font-semibold mx-auto text-slate-700">{{ event[1] }}</h1>
    </div>
  </div>
  <div class="p-6 font-semibold text-slate-700 border-x border-slate-900/10">
    {% if event[4] %}
    <div class="py-y">
      <div class="py-2">
        <h2>Description:</h2>
      </div>
      <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
        <p>
          {{ event[4] }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if not is_today %}
    <div class="py-y">
      <div class="py-2">
        <h2>Date:</h2>
      </div>
      <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
        <p class="text-center">
          {{ date }}
        </p>
      </div>
    </div>
    {% endif %}
    <div class="py-y">
      <div class="py-2">
        <h2>Repeat</h2>
      </div>
      <div class="w-full bg-white rounded-lg border border-slate-900/10 p-4">
        <div class="text-center">
          {% if event[5] == 'WEEKLY' %}
          at least {{ event[7] }} times per week
          {% else %}
          Daily
          {% endif %}
        </div>
      </div>
    </div>
    <div class="py-4">
  <div class="py-2">
        <h2>This Week</h2>
      </div>
      <div class="max-w-md mx-auto p-4 bg-white rounded-lg border border-slate-900/10">
        <div class="grid grid-cols-7 gap-2 text-center text-gray-500 mb-2">
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
          <div>Sun</div>
        </div>
        <div class="grid grid-cols-7 gap-2 text-center">
          {% for day in calendar %}
          <div>
            <span>
              <div
                class="p-2 {% if day[1] %}bg-green-200{% else %} bg-gray-200 {% endif %} rounded {% if day[2] == current_date %}border-2 border-slate-900{% endif %}">
                {{ day[0] }}
              </div>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="py-4">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if event[2] == "MEASURE" %}
        <div class="py-4">
          {{ form.numeric_value.label }}<br>
          {{ form.numeric_value(class_="w-full p-4 rounded-lg border border-slate-900/10 text-center") }}<br>
        </div>
        {% endif %}
        <div class="py-4">
          {{ form.submit(class_="w-full bg-slate-900 text-slate-100 text-5xl p-4 text-center rounded-lg border
          border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600
          active:scale-90") }}
        </div>
      </form>
    </div>
    <div class="py-4">
      <a href="{{ url_for('event.event', id=event[0]) }}" class="">
        <div
          class="p-4  w-full bg-white text-center text-slate-900 rounded-lg border border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90">
          Show Statistics
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}