{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="border-y border-slate-900/10">
  <div class="bg-white py-4 px-6 flex items-center relative">
    <h1 class="text-2xl font-semibold mx-auto text-slate-700">Signup</h1>
  </div>
</div>
<div class="p-6 font-semibold text-slate-700">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="flash-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('user.signup') }}">
    {{ form.hidden_tag() }}
    <div class="py-4">
      {{ form.username.label }}<br>
      {{ form.username(class_="w-full p-4 rounded-lg border border-slate-900/10", size=32) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="py-4">
      {{ form.password.label }}<br>
      {{ form.password(class_="w-full p-4 rounded-lg border border-slate-900/10", size=32) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="py-4">
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password(class_="w-full p-4 rounded-lg border border-slate-900/10", size=32) }}<br>
      {% for error in form.confirm_password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="py-4">
      {{ form.submit(class_="w-full bg-slate-900 text-slate-100 p-4 text-center rounded-lg border
      border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90")
      }}
    </div>
  </form>
  <div class="py-2">
    <p>
      No account yet?
    </p>
    <a href="{{ url_for('user.login') }}" class="">
      <div
        class="bg-white p-4 text-center rounded-lg border border-slate-900/10 shadow-md transition duration-200 ease-in-out transform active:bg-slate-600 active:scale-90">
        Login
      </div>
    </a>
  </div>
</div>
{% endblock %}